PORT=3000
BASE_URL=http://localhost:3000
LOG_API_URL=https://20.207.122.201/evaluation-service/logs
LOG_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJ2ZW5rYXRhbmFyYXlhbmFfbW9naWxpQHNybWFwLmVkdS5pbiIsImV4cCI6MTc3NzcwMzY5NywiaWF0IjoxNzc3NzAyNzk3LCJpc3MiOiJBZmZvcmQgTWVkaWNhbCBUZWNobm9sb2dpZXMgUHJpdmF0ZSBMaW1pdGVkIiwianRpIjoiMzlkYWU5NjUtMTRkYS00MzY0LTk1ZTAtNWU4ZDAwYjQzYjE3IiwibG9jYWxlIjoiZW4tSU4iLCJuYW1lIjoibW9naWxpIHZlbmthdGEgbmFyYXlhbmEiLCJzdWIiOiJmNjMwY2VmNi0wNzZmLTQ3ZWMtYWJhMy1jMzQ1N2FmNTgxNzQifSwiZW1haWwiOiJ2ZW5rYXRhbmFyYXlhbmFfbW9naWxpQHNybWFwLmVkdS5pbiIsIm5hbWUiOiJtb2dpbGkgdmVua2F0YSBuYXJheWFuYSIsInJvbGxObyI6ImFwMjMxMTAwMTE1NzMiLCJhY2Nlc3NDb2RlIjoiUWticHhIIiwiY2xpZW50SUQiOiJmNjMwY2VmNi0wNzZmLTQ3ZWMtYWJhMy1jMzQ1N2FmNTgxNzQiLCJjbGllbnRTZWNyZXQiOiJVZ3Z0Q1RwWnZrcFV3d3RzIn0.ZsN6Oy-aIZXesrW2pX4lDRceALNov_lkz8k9WS4_-9E
DEPOT_API_URL=
TASKS_API_URL=
